<div class="newsletter-signup">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/YOUR_BUTTONDOWN_USERNAME"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/YOUR_BUTTONDOWN_USERNAME', 'popupwindow')"
    class="newsletter-form"
  >
    <div class="newsletter-input-group">
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="your@email.com"
        required
        class="newsletter-input"
      />
      <input type="submit" value="Subscribe" class="newsletter-button" />
    </div>
  </form>
</div>
